<nav class="navbar navbar-expand-md navbar-light bg-light py-1">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">Task App</a>
            <button 
                class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Home</a>
                </li>
            </ul>
            {% if app.user %}
                <div>Welcome back,</div>

                <div class="nav-item dropdown">
                    <a 
                        class="nav-link dropdown-toggle pl-1" 
                        data-toggle="dropdown" 
                        href="#" 
                        role="button" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                    >
                        {{ app.user.name }}
                    </a>
                    <div class="dropdown-menu" style="">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="{{ path('app_task_index') }}">Tasks</a>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" data-toggle="modal" data-target="#modal_logout">Logout</button>
                    </div>
                </div>
            {% else %}
                <a class="btn btn-success btn-sm mr-2" href="{{ path('app_register') }}">Register</a>
                <a class="btn btn-outline-primary btn-sm" href="{{ path('app_login') }}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>

<div class="modal fade" id="modal_logout" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Do you want to logout ?</h4>
      </div>
      <div class="modal-footer">
        <form method="POST" action="{{ path('app_logout') }}">
            <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-primary">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>