{% extends './layouts/app.html.twig' %}

{% block title "Tasks" %}

{% block content %}
    <div>
        {% if is_granted("ROLE_ADMIN") %}
            <a class="btn btn-success mb-3 float-right" href="{{ path('app_task_create') }}">Create new task</a>
        {% endif %}
        <h1>Tasks({{ tasks.getTotalItemCount }})</h1>

    </div>

    <table class="table table-hover table-stripped table-bordered">
    
        <thead>

            <tr>
                <th>Title</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Assigned to</th>
                {% endif %}
                <th>Priority</th>
                <th>Status</th>
                <th>Created at</th>
                <th>Actions</th>
            </tr>
        
        </thead>

        <tbody>
            {% for item in tasks %}
                <tr>
                    <td>{{ item.title }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ item.getAssignedTo().getName() }}</td>
                    {% endif %}
                    <td>{{ item.priority }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.getCreatedAt() }}</td>
                    <td class="d-flex">
                        {% if is_granted('TASK_VIEW', item) %}
                            <a class="btn btn-info btn-sm mr-1" href="{{ path('app_task_show', { slug: item.slug }) }}">Show</a>
                        {% endif %}
                        {% if is_granted('TASK_EDIT', item) %}
                            <a class="btn btn-warning mr-1 btn-sm" href="{{ path('app_task_edit', { id: item.id }) }}">Edit</a>
                        {% endif %}
                        {% if is_granted("TASK_DELETE", item) %}
                            <form method="POST" action=" {{ path('app_task_destroy',{ id: item.id }) }}">
                                <input type="hidden" name="_method" value="DELETE" />
                                <input type="hidden" name="_token" value="{{ csrf_token('task_delete_'~item.id) }}" />
                                <button class="btn btn-danger btn-sm mr-1" type="submit">Delete</button>
                            </form>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-dark btn-sm" href="#">Canceled</a>
                            <a class="btn btn-light btn-sm mr-1" href="#">Closed</a>
                        {% else %}
                            <a class="btn btn-dark btn-sm mr-1" href="#">Start working</a>
                            <a class="btn btn-success btn-sm mr-1" href="#">Finished</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="{% if is_granted('ROLE_ADMIN') %}6{% else %}5{% endif %}">
                        <div class="alert alert-danger m-0">
                            There are no tasks yet, please creare some.
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    <div class="navigation">
        {{ knp_pagination_render(tasks) }}
    </div>

{% endblock %}